<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quest.hmi_demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hmi"
        android:label="@string/label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name="com.example.quest.hmi_demo.homescreen.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.example.quest.hmi_demo.media.bean_classes.SongService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="com.example.quest.hmi_demo.phone.utile.CallDetectService"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".navigation.activity.MapDirectionsActivity"/>
    </application>

</manifest>
